### Erzeugen eines gejointen Dataframes: Variable VALUE = gearbeitete Stunden

In [1]:
#Setup

import pandas as pd
import altair as alt

In [2]:
LINK1 = '/Users/Lea/Desktop/dst-projekt/df_selectedlocations.csv'

df_selectedlocations = pd.read_csv(LINK1)

In [3]:
df_selectedlocations

          LOCATION SUBJECT MEASURE  TIME  VALUE
0          Germany     TOT  HR_WKD  2019   1372
1          Germany     TOT  HR_WKD  2020   1319
2          Germany     TOT  HR_WKD  2021   1340
3          Germany     TOT  HR_WKD  2022   1340
4   United Kingdom     TOT  HR_WKD  2019   1537
5   United Kingdom     TOT  HR_WKD  2020   1364
6   United Kingdom     TOT  HR_WKD  2021   1498
7   United Kingdom     TOT  HR_WKD  2022   1531
8             OECD     TOT  HR_WKD  2019   1766
9             OECD     TOT  HR_WKD  2020   1687
10            OECD     TOT  HR_WKD  2021   1744
11            OECD     TOT  HR_WKD  2022   1751
12  European Union     TOT  HR_WKD  2019   1592
13  European Union     TOT  HR_WKD  2020   1505
14  European Union     TOT  HR_WKD  2021   1560
15  European Union     TOT  HR_WKD  2022   1570

In [4]:
df_selectedlocations.rename(columns={'VALUE': 'Hours_worked'}, inplace=True)

In [5]:
LINK2 = '/Users/Lea/Desktop/dst-projekt/df2_selectedlocations.csv'

df2_selectedlocations = pd.read_csv(LINK2)

In [6]:
df2_selectedlocations.rename(columns={'VALUE': 'Hours_needed'}, inplace=True)

In [7]:
df2_selectedlocations.rename(columns={'SUBJECT': 'SUBJECT1'}, inplace=True)

In [9]:
df2_selectedlocations['Hours_needed'] = df2_selectedlocations['Hours_needed'] * 52

In [11]:
df2_selectedlocations.info()
df2_selectedlocations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LOCATION      24 non-null     object
 1   SUBJECT1      24 non-null     object
 2   MEASURE       24 non-null     object
 3   TIME          24 non-null     int64
 4   Hours_needed  24 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1.1+ KB

          LOCATION     SUBJECT1     MEASURE  TIME  Hours_needed
0          Germany   2 CHILDREN  HR_AVEWAGE  2019           624
1          Germany   2 CHILDREN  HR_AVEWAGE  2020           468
2          Germany   2 CHILDREN  HR_AVEWAGE  2021           468
3          Germany   2 CHILDREN  HR_AVEWAGE  2022           520
4          Germany  NO CHILDREN  HR_AVEWAGE  2019           676
5          Germany  NO CHILDREN  HR_AVEWAGE  2020           676
6          Germany  NO CHILDREN  HR_AVEWAGE  2021           676
7          Germany  NO CHILDREN  HR_AVEWAGE  2022           676
8   United Kingdom   2 CHILDREN  HR_AVEWAGE  2019           260
9   United Kingdom   2 CHILDREN  HR_AVEWAGE  2020           208
10  United Kingdom   2 CHILDREN  HR_AVEWAGE  2021           208
11  United Kingdom   2 CHILDREN  HR_AVEWAGE  2022           312
12  United Kingdom  NO CHILDREN  HR_AVEWAGE  2019           520
13  United Kingdom  NO CHILDREN  HR_AVEWAGE  2020           520
14  United Kingdom  NO CHILDREN  HR_AVEWAGE  2021           520
15  United Kingdom  NO CHILDREN  HR_AVEWAGE  2022           520
16            OECD   2 CHILDREN  HR_AVEWAGE  2019           832
17            OECD   2 CHILDREN  HR_AVEWAGE  2020           884
18            OECD   2 CHILDREN  HR_AVEWAGE  2021           884
19            OECD   2 CHILDREN  HR_AVEWAGE  2022           936
20            OECD  NO CHILDREN  HR_AVEWAGE  2019           780
21            OECD  NO CHILDREN  HR_AVEWAGE  2020           780
22            OECD  NO CHILDREN  HR_AVEWAGE  2021           728
23            OECD  NO CHILDREN  HR_AVEWAGE  2022           780

In [12]:
df_selectedlocations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LOCATION      16 non-null     object
 1   SUBJECT       16 non-null     object
 2   MEASURE       16 non-null     object
 3   TIME          16 non-null     int64
 4   Hours_worked  16 non-null     int64
dtypes: int64(2), object(3)
memory usage: 772.0+ bytes

In [13]:
merged_df = pd.concat([df_selectedlocations, df2_selectedlocations], axis=1, join="inner") #variable muss 1:1 identisch sein
merged_df
# result = pd.concat([df1, df4], axis=1, join="inner")
# axis = 0 oder 1?

,LOCATION,SUBJECT,MEASURE,TIME,Hours_worked,LOCATION,SUBJECT1,MEASURE,TIME,Hours_needed
0,Germany,TOT,HR_WKD,2019,1372,Germany,2 CHILDREN,HR_AVEWAGE,2019,624
1,Germany,TOT,HR_WKD,2020,1319,Germany,2 CHILDREN,HR_AVEWAGE,2020,468
2,Germany,TOT,HR_WKD,2021,1340,Germany,2 CHILDREN,HR_AVEWAGE,2021,468
3,Germany,TOT,HR_WKD,2022,1340,Germany,2 CHILDREN,HR_AVEWAGE,2022,520
4,United Kingdom,TOT,HR_WKD,2019,1537,Germany,NO CHILDREN,HR_AVEWAGE,2019,676
5,United Kingdom,TOT,HR_WKD,2020,1364,Germany,NO CHILDREN,HR_AVEWAGE,2020,676
6,United Kingdom,TOT,HR_WKD,2021,1498,Germany,NO CHILDREN,HR_AVEWAGE,2021,676
7,United Kingdom,TOT,HR_WKD,2022,1531,Germany,NO CHILDREN,HR_AVEWAGE,2022,676
8,OECD,TOT,HR_WKD,2019,1766,United Kingdom,2 CHILDREN,HR_AVEWAGE,2019,260
9,OECD,TOT,HR_WKD,2020,1687,United Kingdom,2 CHILDREN,HR_AVEWAGE,2020,208
10,OECD,TOT,HR_WKD,2021,1744,United Kingdom,2 CHILDREN,HR_AVEWAGE,2021,208
11,OECD,TOT,HR_WKD,2022,1751,United Kingdom,2 CHILDREN,HR_AVEWAGE,2022,312
12,European Union,TOT,HR_WKD,2019,1592,United Kingdom,NO CHILDREN,HR_AVEWAGE,2019,520
13,European Union,TOT,HR_WKD,2020,1505,United Kingdom,NO CHILDREN,HR_AVEWAGE,2020,520
14,European Union,TOT,HR_WKD,2021,1560,United Kingdom,NO CHILDREN,HR_AVEWAGE,2021,520
15,European Union,TOT,HR_WKD,2022,1570,United Kingdom,NO CHILDREN,HR_AVEWAGE,2022,520

In [14]:
merged_df.to_csv('merged_df.csv', index=False)

In [15]:
import altair as alt

scatterplot = alt.Chart(merged_df).mark_circle().encode(
    x='Hours_needed:Q',
    y='Hours_worked:Q'
)
scatterplot

/Users/Lea/anaconda3/envs/dst2/lib/python3.11/site-packages/altair/utils/data.py:230: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  return {"values": data.to_dict(orient="records")}

alt.Chart(...)