# Productivity Forecast

Labour productivity is defined as real gross domestic product (GDP) per hour worked. This captures the use of labour inputs better than just output per employee, with labour input defined as total hours worked by all persons involved. The data are derived as average hours worked multiplied by the corresponding and consistent measure of employment for each particular country. Forecast is based on an assessment of the economic climate in individual countries and the world economy, using a combination of model-based analyses and expert judgement. This indicator is measured as an index with 2010=1.

### Setup

In [69]:
import pandas as pd
import altair as alt

In [70]:

#alt.data_transformers.disable_max_rows()

## Data

Data Import

#### Dataset Labour productivity forecast 2019 - 2024

In [71]:
LINK = '/Users/Lea/Desktop/dst-projekt/laborproductivity_20002024.csv'

df = pd.read_csv(LINK)

In [72]:
df
# falls 50 Zeilen werden alle angezeigt 
#df.head() für begrenzte Anzeigen

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,DEU,GDPHRWKDFORECAST,TOT,IDX2015,A,2000,0.911951,NaN
1,DEU,GDPHRWKDFORECAST,TOT,IDX2015,A,2001,0.931053,NaN
2,DEU,GDPHRWKDFORECAST,TOT,IDX2015,A,2002,0.934060,NaN
3,DEU,GDPHRWKDFORECAST,TOT,IDX2015,A,2003,0.937559,NaN
4,DEU,GDPHRWKDFORECAST,TOT,IDX2015,A,2004,0.941154,NaN
...,...,...,...,...,...,...,...,...
70,EA17,GDPHRWKDFORECAST,TOT,IDX2015,A,2020,0.967096,NaN
71,EA17,GDPHRWKDFORECAST,TOT,IDX2015,A,2021,1.008287,NaN
72,EA17,GDPHRWKDFORECAST,TOT,IDX2015,A,2022,1.019841,NaN
73,EA17,GDPHRWKDFORECAST,TOT,IDX2015,A,2023,1.012843,NaN
74,EA17,GDPHRWKDFORECAST,TOT,IDX2015,A,2024,1.016086,NaN

In [73]:
df.info()

# Objekt kann immer alles sein
# float = numerisch stetig

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    75 non-null     object
 1   INDICATOR   75 non-null     object
 2   SUBJECT     75 non-null     object
 3   MEASURE     75 non-null     object
 4   FREQUENCY   75 non-null     object
 5   TIME        75 non-null     int64
 6   Value       75 non-null     float64
 7   Flag Codes  0 non-null      float64
dtypes: float64(2), int64(1), object(5)
memory usage: 4.8+ KB

### Eliminate Clutter

In [74]:
df_drop = ['FREQUENCY', 'Flag Codes', 'INDICATOR', 'MEASURE']

for column in df_drop:
    if column in df.columns:
        df.drop(column, axis=1, inplace=True)

In [75]:
df

   LOCATION SUBJECT  TIME     Value
0       DEU     TOT  2000  0.911951
1       DEU     TOT  2001  0.931053
2       DEU     TOT  2002  0.934060
3       DEU     TOT  2003  0.937559
4       DEU     TOT  2004  0.941154
..      ...     ...   ...       ...
70     EA17     TOT  2020  0.967096
71     EA17     TOT  2021  1.008287
72     EA17     TOT  2022  1.019841
73     EA17     TOT  2023  1.012843
74     EA17     TOT  2024  1.016086

[75 rows x 4 columns]

In [76]:
list_cat = ['LOCATION', 'SUBJECT']

for i in list_cat:
    df[i] = df[i].astype('category')

In [77]:
df.rename(columns={'Value': 'VALUE'}, inplace=True)

In [78]:
# Time as Year
df['TIME'] = pd.to_datetime(df['TIME'], format='%Y').dt.year

In [83]:
# NUR GANZZAHLIGE VALUE EINTRÄGE
#df['VALUE'] = df['VALUE'].astype(int)
df['VALUE'] = df['VALUE'].round(2)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LOCATION  75 non-null     category
 1   SUBJECT   75 non-null     category
 2   TIME      75 non-null     int32
 3   VALUE     75 non-null     float64
dtypes: category(2), float64(1), int32(1)
memory usage: 1.4 KB

Focus on selected countries and eliminate double listing

In [85]:
df3_selectedlocations = df[df['LOCATION'].isin(['EU17', 'DEU', 'GBR'])]

df3_selectedlocations

   LOCATION SUBJECT  TIME  VALUE
0       DEU     TOT  2000   0.91
1       DEU     TOT  2001   0.93
2       DEU     TOT  2002   0.93
3       DEU     TOT  2003   0.94
4       DEU     TOT  2004   0.94
5       DEU     TOT  2005   0.95
6       DEU     TOT  2006   0.98
7       DEU     TOT  2007   1.00
8       DEU     TOT  2008   0.99
9       DEU     TOT  2009   0.93
10      DEU     TOT  2010   0.97
11      DEU     TOT  2011   0.99
12      DEU     TOT  2012   0.99
13      DEU     TOT  2013   0.98
14      DEU     TOT  2014   1.00
15      DEU     TOT  2015   1.00
16      DEU     TOT  2016   1.01
17      DEU     TOT  2017   1.03
18      DEU     TOT  2018   1.02
19      DEU     TOT  2019   1.02
20      DEU     TOT  2020   0.99
21      DEU     TOT  2021   1.02
22      DEU     TOT  2022   1.02
23      DEU     TOT  2023   1.01
24      DEU     TOT  2024   1.02
25      GBR     TOT  2000   0.89
26      GBR     TOT  2001   0.91
27      GBR     TOT  2002   0.92
28      GBR     TOT  2003   0.93
29      GBR     TOT  2004   0.95
30      GBR     TOT  2005   0.96
31      GBR     TOT  2006   0.98
32      GBR     TOT  2007   0.99
33      GBR     TOT  2008   0.98
34      GBR     TOT  2009   0.95
35      GBR     TOT  2010   0.97
36      GBR     TOT  2011   0.98
37      GBR     TOT  2012   0.98
38      GBR     TOT  2013   0.99
39      GBR     TOT  2014   1.00
40      GBR     TOT  2015   1.00
41      GBR     TOT  2016   1.00
42      GBR     TOT  2017   1.02
43      GBR     TOT  2018   1.02
44      GBR     TOT  2019   1.03
45      GBR     TOT  2020   0.93
46      GBR     TOT  2021   1.01
47      GBR     TOT  2022   1.05
48      GBR     TOT  2023   1.05
49      GBR     TOT  2024   1.05

In [82]:
df3_selectedlocations.count()

LOCATION    50
SUBJECT     50
TIME        50
VALUE       50
dtype: int64

### Data Explo

In [89]:
df3_selectedlocations.describe()

              TIME      VALUE
count    50.000000  50.000000
mean   2012.000000   0.982200
std       7.284314   0.039605
min    2000.000000   0.890000
25%    2006.000000   0.950000
50%    2012.000000   0.990000
75%    2018.000000   1.010000
max    2024.000000   1.050000

### Data Viz

In [90]:
#Color Scale

colors = alt.Scale(
    range=['#003f5c','#58508d','#bc5090','#ff6361','#ffa600']
)
colors

Scale({
  range: ['#003f5c', '#58508d', '#bc5090', '#ff6361', '#ffa600']
})

Line Chart Viz

In [101]:
colors_linechart3 = alt.Scale(
    range=['#58508d','#ff6361','#ffa600']
)
colors_linechart3

Scale({
  range: ['#58508d', '#ff6361', '#ffa600']
})

In [204]:
linechart3 = alt.Chart(df3_selectedlocations).mark_line().encode(
    x=alt.X('TIME:O', title='Jahr').axis(
        titleAnchor='start',
        labelAngle= -0,
        ),
    y=alt.Y('VALUE').scale(domain=(0.8,1.25)).axis(
        title='GDP per hour worked',
        titleAnchor='end',
        grid= False,
        ),
    strokeWidth=alt.value(2), 
    color=alt.Color('LOCATION', scale=colors_linechart3),
    tooltip=['LOCATION']
).properties(
    title='Labor Productivity Forecast'
)

In [205]:
location_list = df3_selectedlocations['LOCATION'].tolist()

linechart_labels = alt.Chart(df3_selectedlocations).mark_text(align='left', dx=3).encode(
    alt.X('TIME:O', aggregate='max'),
    alt.Y('VALUE:Q', aggregate={'argmax': 'VALUE'}),
    alt.Text('LOCATION'),
    alt.Color('LOCATION:N', legend=None, scale=alt.Scale(domain=location_list,type='ordinal')), 
).properties(
    width=800,
    height=500,    
)

In [206]:
linechart3_final = alt.layer(linechart3, linechart_labels).configure_view(
    strokeWidth=0
).configure_title(
    fontSize=20,
    anchor='start',
    fontWeight='bold',
).configure_axis(
    labelFontSize = 11,
    titleFontSize = 12,
    titleFontWeight= 'normal',
    titleColor='grey'
).configure_text(
    fontWeight='bold',
    fontSize = 12
)

linechart3_final

alt.LayerChart(...)