# Hours worked

Time Horizont: 2019-2022

Average annual hours worked is defined as the total number of hours actually worked per year divided by the average number of people in employment per year. Actual hours worked include regular work hours of full-time, part-time and part-year workers, paid and unpaid overtime, hours worked in additional jobs, and exclude time not worked because of public holidays, annual paid leave, own illness, injury and temporary disability, maternity leave, parental leave, schooling or training, slack work for technical or economic reasons, strike or labour dispute, bad weather, compensation leave and other reasons. The data cover employees and self-employed workers. This indicator is measured in terms of hours per worker per year. The data are published with the following health warning: The data are intended for comparisons of trends over time; they are unsuitable for comparisons of the level of average annual hours of work for a given year, because of differences in their sources and method of calculation.

Variablen: LOCATION,SUBJECT,MEASURE,TIME,Value

### Setup

In [2]:
import pandas as pd
import altair as alt

In [3]:
# Zeilenlimit deaktivieren (n=5000)
# Falls Datensatz mehr als 5000 Zeilen, dann soll es deaktiviert werden

alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

## Data

Data Import

#### Dataset Average annual hours actually worked, 2022 or latest

In [4]:
# falls Datei lokal liegt, einfach den Pfad zur CSV eingeben: ins Terminal 'pwd' eingeben, dann wird Pfad gezeigt
LINK = '/Users/Lea/Desktop/dst-projekt/hoursworked_20192022.csv'

df = pd.read_csv(LINK)

In [5]:
df
# falls 50 Zeilen werden alle angezeigt 
#df.head() für begrenzte Anzeigen

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUT,HRWKD,TOT,HR_WKD,A,2019,1509.591660,NaN
1,AUT,HRWKD,TOT,HR_WKD,A,2020,1400.786923,NaN
2,AUT,HRWKD,TOT,HR_WKD,A,2021,1439.093920,NaN
3,AUT,HRWKD,TOT,HR_WKD,A,2022,1443.720369,NaN
4,BEL,HRWKD,TOT,HR_WKD,A,2019,1577.095522,NaN
...,...,...,...,...,...,...,...,...
114,ROU,HRWKD,TOT,HR_WKD,A,2022,1808.232842,NaN
115,EU27,HRWKD,TOT,HR_WKD,A,2019,1592.987477,NaN
116,EU27,HRWKD,TOT,HR_WKD,A,2020,1505.611235,NaN
117,EU27,HRWKD,TOT,HR_WKD,A,2021,1560.286783,NaN
118,EU27,HRWKD,TOT,HR_WKD,A,2022,1570.796361,NaN

In [6]:
df.info()

# Objekt kann immer alles sein
# float = numerisch stetig

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    119 non-null    object
 1   INDICATOR   119 non-null    object
 2   SUBJECT     119 non-null    object
 3   MEASURE     119 non-null    object
 4   FREQUENCY   119 non-null    object
 5   TIME        119 non-null    int64
 6   Value       119 non-null    float64
 7   Flag Codes  0 non-null      float64
dtypes: float64(2), int64(1), object(5)
memory usage: 7.6+ KB

### Eliminate Clutter

In [7]:
df.drop('FREQUENCY', axis=1, inplace=True)

In [8]:
df.drop('Flag Codes', axis=1, inplace=True)

In [9]:
df.drop('INDICATOR', axis=1, inplace=True)

In [10]:
#df.drop('SUBJECT', axis=1, inplace=True)

In [11]:
list_cat = ['LOCATION']
df = df.astype('category')

In [12]:
# Time as Year
df['TIME'] = pd.to_datetime(df['TIME'], format='%Y').dt.year

In [13]:
df.rename(columns={'Value': 'VALUE'}, inplace=True)

In [14]:
# NUR GANZZAHLIGE VALUE EINTRÄGE
df['VALUE'] = df['VALUE'].astype(int)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LOCATION  119 non-null    category
 1   SUBJECT   119 non-null    category
 2   MEASURE   119 non-null    category
 3   TIME      119 non-null    int32
 4   VALUE     119 non-null    int64
dtypes: category(3), int32(1), int64(1)
memory usage: 3.4 KB

In [16]:
#df['TIME'] = pd.to_datetime(df['TIME'], format='%Y')

### First Impression of Data and Distribution

In [17]:
df['VALUE'].describe().astype(int)

count     119
mean     1619
std       156
min      1319
25%      1507
50%      1619
75%      1742
max      2075
Name: VALUE, dtype: int64

Focus on selected countries and eliminate double listing

In [18]:
df_selectedlocations = df[df['LOCATION'].isin(['OECD', 'EU27', 'DEU', 'GBR'])]

df_selectedlocations

    LOCATION SUBJECT MEASURE  TIME  VALUE
23       DEU     TOT  HR_WKD  2019   1372
24       DEU     TOT  HR_WKD  2020   1319
25       DEU     TOT  HR_WKD  2021   1340
26       DEU     TOT  HR_WKD  2022   1340
71       GBR     TOT  HR_WKD  2019   1537
72       GBR     TOT  HR_WKD  2020   1364
73       GBR     TOT  HR_WKD  2021   1498
74       GBR     TOT  HR_WKD  2022   1531
83      OECD     TOT  HR_WKD  2019   1766
84      OECD     TOT  HR_WKD  2020   1687
85      OECD     TOT  HR_WKD  2021   1744
86      OECD     TOT  HR_WKD  2022   1751
115     EU27     TOT  HR_WKD  2019   1592
116     EU27     TOT  HR_WKD  2020   1505
117     EU27     TOT  HR_WKD  2021   1560
118     EU27     TOT  HR_WKD  2022   1570

In [19]:
df_selectedlocations.count()

LOCATION    16
SUBJECT     16
MEASURE     16
TIME        16
VALUE       16
dtype: int64

In [20]:
df_selectedlocations['LOCATION'].replace({'OECD': 'Organization for Economic Cooperation and Development', 'EU27': 'European Union', 'DEU': 'Germany', 'GBR': 'United Kingdom'}, inplace=True)

/var/folders/cg/s479mj155734fxg40v_64y4r0000gn/T/ipykernel_1223/2203825450.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selectedlocations['LOCATION'].replace({'OECD': 'Organization for Economic Cooperation and Development', 'EU27': 'European Union', 'DEU': 'Germany', 'GBR': 'United Kingdom'}, inplace=True)

### Data Exploration

In [21]:
#Color Scale

colors = alt.Scale(
    range=['#003f5c','#58508d','#bc5090','#ff6361','#ffa600']
)
colors

Scale({
  range: ['#003f5c', '#58508d', '#bc5090', '#ff6361', '#ffa600']
})

In [22]:
df_selectedlocations

,LOCATION,SUBJECT,MEASURE,TIME,VALUE
23,Germany,TOT,HR_WKD,2019,1372
24,Germany,TOT,HR_WKD,2020,1319
25,Germany,TOT,HR_WKD,2021,1340
26,Germany,TOT,HR_WKD,2022,1340
71,United Kingdom,TOT,HR_WKD,2019,1537
72,United Kingdom,TOT,HR_WKD,2020,1364
73,United Kingdom,TOT,HR_WKD,2021,1498
74,United Kingdom,TOT,HR_WKD,2022,1531
83,Organization for Economic Cooperation and Deve...,TOT,HR_WKD,2019,1766
84,Organization for Economic Cooperation and Deve...,TOT,HR_WKD,2020,1687
85,Organization for Economic Cooperation and Deve...,TOT,HR_WKD,2021,1744
86,Organization for Economic Cooperation and Deve...,TOT,HR_WKD,2022,1751
115,European Union,TOT,HR_WKD,2019,1592
116,European Union,TOT,HR_WKD,2020,1505
117,European Union,TOT,HR_WKD,2021,1560
118,European Union,TOT,HR_WKD,2022,1570

In [23]:
location_list = df_selectedlocations['LOCATION'].tolist()

alt.Chart(df_selectedlocations).mark_geoshape(
    fill='lightgray',
    stroke='white'
).project(
    "equirectangular"
).properties(
    width=500,
    height=300
)

alt.Chart(...)

In [24]:
from vega_datasets import data

source = alt.topo_feature(data.world_110m.url, 'countries')

#input_dropdown = alt.binding_select
param_projection = alt.param(value="equalEarth")

alt.Chart(source, width=500, height=300).mark_geoshape(
    fill='lightgray',
    stroke='gray'
).project(
    type=alt.expr(param_projection.name)
).add_params(param_projection).properties(
    width=800,
    height=400
)
# No channel encoding options are specified in this chart
# so the code is the same as for the method-based syntax.

alt.Chart(...)

In [61]:
linechart1 = alt.Chart(df_selectedlocations).mark_line().encode(
    x=alt.X('TIME:O', title='Jahr').axis(
        titleAnchor='start',
        labelAngle= -0,
        ),
    y=alt.Y('VALUE').scale(domain=(1000,1800)).axis(
        title='Gearbeitete Stunden',
        titleAnchor='end',
        ),
    strokeWidth=alt.value(4), 
    color=alt.Color('LOCATION', scale=colors),
    tooltip=['LOCATION']
).properties(
    title='Hours Worked',
    #fontSize= 20,

)

In [64]:
location_list = df_selectedlocations['LOCATION'].tolist()

linechart_labels = alt.Chart(df_selectedlocations).mark_text(align='left', dx=3).encode(
    alt.X('TIME:O', aggregate='max'),
    alt.Y('VALUE:Q', aggregate={'argmax': 'VALUE'}, scale=alt.Scale(domain=(1000,1800))),
    alt.Text('LOCATION'),
    alt.Color('LOCATION:N', legend=None, scale=alt.Scale(domain=location_list,type='ordinal')), 
).properties(
    width=600,
    height=400,    
)

In [ ]:
linechart1_final = alt.layer(linechart1, linechart_labels).configure_view(
    strokeWidth=0
).configure_title(
    fontSize=20,
    anchor='start',
    fontWeight='normal',
    #subtitleColor='grey',
    #subtitleFontSize=15
).configure_axis(
    labelFontSize = 11,
    titleFontSize = 12,
    titleFontWeight= 'normal',
    titleColor='grey'
)

In [26]:
alt.Chart(df_selectedlocations).mark_bar().encode(
    x=alt.X('LOCATION').axis(
        title='Location',
        titleAnchor='start',
        labelAngle=0,
        grid=False,
        labelColor='black',
        tickColor='grey'),
    y=alt.Y('VALUE').axis(
        title='Value',
        titleAnchor='end',
        grid=False,
        labelColor='black',
        tickColor='black'),
    color=alt.Color('TIME:O', scale=colors),
    tooltip=['TIME']
).properties(
    width=600,
    height=400
)#.interactive()

alt.Chart(...)

In [27]:
df_selectedlocations.to_csv('df_selectedlocations.csv', index=False)

### Finding Connections

In [28]:
df_selectedlocations.corr()

ValueError: could not convert string to float: 'Germany'